@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(40, 149, 105);
    --primary-color-dark: rgb(0, 86, 52);
    --primary-color-light: rgba(40, 149, 105, 0.93);
    --primary-color-x-light: rgb(178, 217, 199);

    --gray: rgb(194, 194, 194);

    --red: rgb(105, 21, 21);
    --red-light: rgb(255, 250, 250);
}

.heading {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 10px;
}

.feed-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 10px;
}

.post {
    position: relative;
    background-color: #fff;
    border: 1px solid var(--gray);
    padding: 10px;
    margin: 15px 10px;
}
.content {
    padding: 20px 15px;
}
.post .user {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}
.post-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 12px;
}
.post-links button {
    margin-right: 15px;
}
.likes {
    font-size: 12px;
    color: var(--primary-color);
}
.delete-post {
    position: absolute;
    right: 10px;
    top: 5px;
    color: var(--red);
    cursor: pointer;
    font-size: 12px;
}
.post-form-container {
    background-color: #fff;
    color: var(--primary-color-dark);
    font-weight: bold;
    border: 1px solid var(--primary-color-x-light);
}
.add-post-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.add-post-form textarea {
    margin-right: 10px;
    width: 100%;
    font-weight: normal;
    color: #000;
}
.add-post-form input[type="submit"] {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    width: 100px;
    margin-top: 10px;
    align-self: flex-end;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--primary-color-light);
}

.comments {
    margin: 10px;
    padding: 15px;
}
.comments .comment {
    position: relative;
    margin: 15px 5px;
    background-color: #ffffff;
    padding: 8px;
    border: 1px solid var(--gray);
}
.comment .content {
    padding: 10px 15px;
}
.comment .user {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}
.comments textarea {
    margin-top: 30px;
}

.primary-button {
    background-color: var(--primary-color);
}

.primary-button:hover {
    background-color: var(--primary-color-light);
}

textarea {
    border: 1px solid rgb(167, 172, 169);
}

nav {
    background-color: rgb(232 242 238);
}

nav a.active-link {
    border-color: var(--primary-color) !important;
}

a {
    color: var(--primary-color-dark) !important;
}

.loading {
    margin: 30px auto;
    width: fit-content;
    color: var(--primary-color-dark);
}

.not-found {
    margin: 30px auto;
    width: fit-content;
    color: var(--red);
}

.error-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    border: 1px solid var(--red);
    background-color: var(--red-light);
    color: var(--red);
}

.error-modal h2 {
    font-size: 15px;
    color: var(--red);
    margin-bottom: 10px;
}

.error-modal button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    color: var(--red);
}